USE [master]
GO
/****** Object:  Database [Constructor]    Script Date: 31/03/2021 13:14:09 ******/
CREATE DATABASE [Constructor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Constructor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Constructor.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Constructor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Constructor_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Constructor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Constructor]
GO
/****** Object:  Table [dbo].[Artical]    Script Date: 31/03/2021 13:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](20) NULL,
	[Title] [nchar](50) NULL,
	[SortDescription] [nchar](1000) NULL,
	[LongDescription] [nchar](2000) NULL,
	[imglink] [nchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Info]    Script Date: 31/03/2021 13:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[address] [nchar](50) NULL,
	[city] [nchar](50) NULL,
	[country] [nchar](50) NULL,
	[tel] [nchar](20) NULL,
	[email] [nchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Intros]    Script Date: 31/03/2021 13:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](20) NULL,
	[Title] [nchar](50) NULL,
	[SortDescription] [nchar](1000) NULL,
	[LongDescription] [nchar](2000) NULL,
	[imglink] [nchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 31/03/2021 13:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artical] ON 

SET IDENTITY_INSERT [dbo].[Artical] OFF
INSERT [dbo].[Info] ([address], [city], [country], [tel], [email]) VALUES (N'sadasd                                            ', N'hbscasda                                          ', N'kjhsafkd                                          ', N'123456              ', N' your-email@your-email.com                        ')
SET IDENTITY_INSERT [dbo].[Intros] ON 

SET IDENTITY_INSERT [dbo].[Intros] OFF
INSERT [dbo].[Message] ([Name], [Email], [Message]) VALUES (N'', N'', N'')
INSERT [dbo].[Message] ([Name], [Email], [Message]) VALUES (N'abc', N'kyuubihebi@yahoo.com.vn', N'aaaaa')
INSERT [dbo].[Message] ([Name], [Email], [Message]) VALUES (N'', N'', N'')
USE [master]
GO
